.bg{
    background-image: linear-gradient(
    to right bottom,
    #33a9ff30,
    #69bbff30,
    #90ccff30,
    #b5ddff30,
    #d8eeff30
  );
  min-height: 100vh;
  height: 100%;
}

.background {
  min-height: 100vh;
    position: relative;
    height: 100%;
    background-image: url("/imgs/background-logos.png");
      background-size: cover;
      background-position: center;
  }