
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.input{
    position: relative;
    height: 40px;
    outline: none;
    border: 1px solid #33A9FF;
    border-radius: 10px;
    padding: 10px;
    transition: all .3s;
    color: #00000080;
    font-size: 2rem;
}
.label{
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all .2s;
    padding: 0 2px;
    z-index: 1;
    font-size: 2.4rem;
    color: #33A9FF;
    cursor: text;
    border-radius: 5px;
}

.input:focus + label, .input:not(:placeholder-shown) + label{
    top: -7px;
    font-size: 2rem;
    background-color: white;
}

.input::placeholder{
    opacity: 0;
}

.input:valid{
    background-color: var(--second-color-30);
}