.article_container{
    display: flex;

}
.container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 20px;
}


.article_name {
    font-size: var(--text-font-size-xxl);
}

.container_image {
    width: 40rem;
    aspect-ratio: 1/1;
}

.logo {
    height: 5%;
    width: 5%;
}

.container_image img {      
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
