.text_input {
  border-color: var(--third-color-100);
  border-radius: 5rem;
}

.container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container a {
  height: 80%;
}
.container a img { 
  height: 100%;
  margin-top: -5px;
}
.container .search {
  width: 40%;
}
.container .actions {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button_connecter {
  min-width: 150px;
  align-items: center;
  background-color: white;
  border: 2px solid #33a9ff;
  border-radius: 10px;
  color: #33a9ff;
  font-weight: 600;
  text-align: center;
  padding: 1% 1.5%;
  font-size: var(--text-font-size-l);
  cursor: pointer;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 1rem;
  transition: all 0.3s;
}

.button_connecter:hover {
  background-color: var(--third-color-100);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

.button_connecter svg,
.button_connecter path {
  margin-right: 2rem;
  transition: all 0.3s;
}
.button_connecter:hover svg,
.button_connecter:hover path {
  color: white;
  fill: white;
  stroke: white;
}

.button_market {
  min-width: 150px;
  align-items: center;
  background-color: white;
  border: 2px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  padding: 1% 2%;
  font-size: var(--text-font-size-l);
  cursor: pointer;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 1rem;
  transition: all 0.3s;
}
.button_market svg,
.button_market path {
  transition: all 0.3s;
}

.button_market:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: black;
  color: white;
}
.button_market:hover svg,
.button_market:hover path {
  stroke: white;
  color: white;
}

.button_market svg {
  margin-right: 2rem;
}

.selectLang {
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
}

.images {
  height: 33px;
  min-height: 33px;
  width: 33px;
  min-width: 33px;
}

.profile_picture {
  display: flex;
  align-items: center;
  height: 80%;
  transition: all 0.2s;
}
.profile_picture p {
  margin-top: -5px;
  font-size: var(--text-font-size-xl);
  text-transform: capitalize;
  color: var(--third-color-100);
  font-weight: 600;
  margin-left: 10px;
  position: relative;
}

.profile_picture p::before {
  position: absolute;
  content: "";
  height: 3px;
  border-radius: 10px;
  background-color: var(--third-color-100);
  width: 0%;
  top: 100%;
  transition: all 0.3s;
}
.profile_picture:hover p::before {
  width: 100%;
}

.profile_picture img {
  height: 100%;
  border-radius: 100px;
  border: 2px solid var(--third-color-100);
}

.navigation_item1, .navigation_link, .button_nouveautes{
  font-size: var(--text-font-size-l);
}

.button_nouveautes {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: max-content;
}

.container_button_nouveautes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.navigation_item1 {
  height: 7rem;
}

.navigation_link {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: max-content;
  height: 5rem;
  color: rgba(98, 98, 98, 0.9);
}

.navigation_link_titre {
  font-size: var(--text-font-size-xl);
  font-weight: bold;
}

.navigation_link:hover {
  cursor: pointer;
}

.navigation_link::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  transform: scale(0);
  height: 1px;
  background-color: grey;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.navigation_link:hover::after {
  transform: scale(1);
  transform-origin: bottom center;
}

.container_nouveautes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container_menu {
  display: flex;
  flex-direction: row;
}

.navigation_menu {
  border-radius: 3rem;
}