.checkBox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.checkBox input {
  cursor: pointer;
  appearance: none;
  height: 40px;
  width: 40px;
  outline: none;
  transition: all 0.3s;
  border-radius: 10px;
  border: 1px solid #00000030;
  font: inherit;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.checkBox input::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 30px 30px var(--second-color-100);
}

.checkBox input:hover::before {
  transform: scale(0.3);
}
.checkBox input:checked::before {
  transform: scale(1);
}
.checkBox label {
  cursor: pointer;
  font-size: var(--text-font-size-m);
  font-weight: 500;
  padding-left: 10px;
  width: calc(100% - 40px - 10px);
}
