.container {
  height: calc(100vh - 110px);
}
.general {
  height: 90%;
  border-radius: 10px;
  border: 2px solid var(--second-color-100);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile_picture {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 15%;
}
.profile_picture img {
  width: 100%;
  border-radius: 50%;
  margin-top: 10%;
}
.profile_picture button {
  font-weight: 400;
}

.personal_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.input label {
  color: var(--color4-60);
}
.input input {
  border-color: var(--color4-60);
  border-radius: 10px;
  color: var(--color4-60);
}
.input input:valid {
  background: none;
}

.connection_info {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.connection p {
  font-size: var(--text-font-size-m);
  text-transform: capitalize;
  font-weight: 400;
  opacity: 0.7;
}
.connection .type {
  opacity: 1;
  font-weight: 600;
  font-size: var(--text-font-size-l);
}
.button {
  height: 40px;
  border-radius: 10px;
  font-weight: 400;
}
.button:hover {
  border-radius: 5px;
}
.save {
  background: none;
  border: 2px solid var(--third-color-100);
  color: var(--third-color-100);
}
.save:hover {
  background: var(--third-color-100);
  color: var(--first-color-100);
  border-radius: 10px;
}
.menu {
  height: 1px;
  width: 222rem;
  border-bottom: 2px solid var(--second-color-100);
}

.menu_button {
  font-size: 220%;
  padding-right: 3rem;
  padding-left: 3px;
}

.menu_container {
  display: flex;
  width: 75%;
}

.button1 {
  display: flex;
  padding-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  transition: border-bottom 0.3s ease, background-position 0.3s ease;
}
.button1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--third-color-100),
    var(--third-color-100)
  );
  transition: width 0.3s ease;
}
.button1:hover::before {
  width: 100%;
}

.button2 {
  display: flex;
  padding-bottom: 10.5px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  transition: border-bottom 0.3s ease, background-position 0.3s ease;
}
.button2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3.2px;
  background-image: linear-gradient(
    to right,
    var(--third-color-100),
    var(--third-color-100)
  );
  transition: width 0.3s ease;
  border-bottom: none;
}
.button2:hover::before {
  width: 100%;
  border-bottom: none;
}
.buttonPlain {
  border-bottom: 3.5px solid var(--third-color-100);
  display: flex;
  padding-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
  width: 100%;
}
.container_historique {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5%;
}
.container_row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 30%;
  border-bottom: 2px solid var(--third-color-60);
  padding-bottom: 2%;
}
.titre {
  font-size: 300%;
  width: 100%;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.description {
  font-size: 250%;
  font-weight: 250;
  margin: 0;
  padding: 0;
}
.tailleB,
.couleurB,
.quantiteB,
.referenceB,
.dateB {
  font-size: 220%;
  font-weight: 300;
}
.couleurA,
.tailleA,
.referenceA,
.quantiteA,
.dateA {
  padding-right: 2%;
  font-size: 220%;
  font-weight: 600;
}
.container_couleur,
.container_taille,
.container_quantite,
.container_reference,
.container_date {
  display: flex;
  flex-direction: row;
}
.colonne1,
.colonne2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.container_buttonAvis {
  border-bottom: 0, 5px solid var(--third-color-100);
}
.container_iTd {
  display: flex;
  flex-direction: row;
  width: 15%;
}
.image {
  height: 100%;
}
.container_buttonAvis {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAvis {
  width: 90%;
}
.container_menu {
  display: flex;
  flex-direction: column;
}
.flex_menu {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  height: calc(31vh - 110px);
  margin-bottom: 5%;
}

.container_iTd,
.colonne1,
.colonne2,
.container_buttonAvis {
  height: 20rem;
}

.button_market {
  min-width: 150px;
  align-items: center;
  background-color: white;
  border: 2px solid var(--third-color-100);
  border-radius: 10px;
  color: var(--third-color-100);
  font-weight: 600;
  text-align: center;
  font-size: var(--text-font-size-l);
  cursor: pointer;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  transition: all 0.3s;
}
.button_market svg,
.button_market path {
  transition: all 0.3s;
}

.button_market:hover {
  box-shadow: var(--third-color-100) 0px 3px 8px;
  background-color: var(--third-color-100);
  color: white;
}
.button_market:hover svg,
.button_market:hover path {
  stroke: white;
  color: white;
}

.button_market svg {
  margin-right: 2rem;
}

.toast {
  border-radius: 10px;
}
.toast div {
  color: white;
  padding: 5px 0;
  font-size: var(--text-font-size-m);
}
.toast div:nth-child(1) {
  font-size: var(--text-font-size-xxl);
}
.toast button svg {
  stroke: white;
  height: 20px;
  width: 20px;
}

.good {
  background-color: var(--notify-color-100);
}
.toast_info {
  background-color: var(--third-color-100);
}
.error {
  background-color: var(--alert-color-100);
}
