@font-face {
  font-family: "bubble";
  src: url("/fonts/bubble-bobble/bubble-bobble.ttf");
}

:root{
  /* var */
  --first-color-100: #ffffff;
  --first-color-60: #ffffff60;
  --first-color-30: #ffffff30;
  
  --second-color-100: #D8EEFF;
  --second-color-60: #D8EEFF60;
  --second-color-30: #D8EEFF30;
  
  --third-color-100: #33A9FF;
  --third-color-60: #33A9FF60;
  --third-color-30: #33A9FF30;


  --title-line-height: 1.2;
  --title-letter-spacing: -.03em;
  --title-font-size-xxl: 7.5rem;
  --title-font-size-xl: 4.6rem;
  --title-font-size-l: 3.6rem;
  
  --text-line-height: 1.4;
  --text-letter-spacing: -.005em;
  --text-font-size-xxl: 3rem;
  --text-font-size-xl: 2.6rem;
  --text-font-size-l: 2rem;



}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
html {
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  /* dark mode */
  
}
