
.img {
    object-fit: cover;
    object-position: bottom;
    aspect-ratio: 6/2;
    width: 100%;
    position: relative;
}


.container_ducarousel {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    aspect-ratio: 6/2;
    display: flex;
    position: relative;
}

.carousel {
    box-sizing: border-box;
    margin: 0 auto;
}

 
.carousel .container_text {
    width: 80%;
    height: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.button_calltoaction {
    transform: translateY(-700%);
    border: 2px solid var(--third-color-100);
    border-radius: 20px;
    background-color: var(--third-color-100);
    color: black;
    height: 5rem;
    width: 30rem;
    font-size: var(--title-font-size-l);
    position: relative;
}

.subtitles {
    font-size: var(--title-font-size-l);
}

.title {
    font-size: var(--title-font-size-xl);
    margin: 0.8rem 1rem 0;
}

.carousel .thumbs {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.carousel .thumb {
    cursor: pointer;
    margin: 0 5px;
}