.img {
  max-width: 100%;
  position: relative;
  aspect-ratio: 24/9;
  object-fit: cover;
  height: auto;
}

.container_ducarousel .carousel {
  background-color: rgb(0, 0, 0, 0.5);
  position: relative;
  top: 50%;
  transform: translate(-50);
  left: 10%;
  padding: 0.4rem 1.5rem;
}

.carousel {
  box-sizing: border-box;
  margin: 0;
}

.carousel .container_text {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 50%;
  padding: 1%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.subtitles {
  font-size: calc(var(--title-font-size-l) * 0.7);
  color: var(--color4-60);
  display: flex;
  text-align: center;
  width: 70%;
  letter-spacing: var(--title-letter-spacing);
}

.title {
  font-size: var(--title-font-size-xxl);
  margin: 0.8rem 1rem 0;
  color: var(--color4-100);
  font-weight: bold;
}

.button{
    width: 30%;
    max-width: 400px;
    min-width: 150;
}